git+https://github.com/davidbau/baukit
datasets
einops
evaluate
h5py
matplotlib
nltk
numpy>=1.21,<2.0
openai
pandas
Pillow
pyvene
PyYAML
requests
scikit-learn
scipy
sentence-transformers
setuptools
simplejson
t5
torch>=2.0
torchvision
tqdm
transformers
